{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% if next %}
        <div class="alert alert-warning" role="alert">
            {% if user.is_authenticated %}
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            {% else %}
                Please login to view this page.
            {% endif %}
        </div>
    {% endif %}


    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 alert alert-primary" role="alert">
            Login using your <a href="https://indiaultimate.org">indiaultimate.org</a> credentials
        </div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        {% crispy form %}
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 alert alert-info" role="alert">
            <div>
                <p>
                    We don't save your credentials for indiaultimate.org in our
                    database. We use it to authenticate against the Ultimate
                    Central authentication system using their OAuth2 API. You
                    can find the code for authentication <a href="https://github.com/thatte-idli-kaal-soup/sotg-accreditation-tracker/blob/master/tracker/auth.py">here</a>, in case you are curious.
                </p>
                <p>
                    The implementation of OAuth2 provided by Ultimate Central
                    requires us to ask for your password, unlike the
                    authentication you may have used with other providers like
                    Google, Twitter or Facebook. The API spec provided by
                    Ultimate Central is <a href="https://docs.google.com/document/d/148SFmTpsdon5xoGpAeNCokrpaPKKOSDtrLNBHOIq5c4/edit#heading=h.px865pu3sfvw">here</a>, in case you'd like to verify.
                </p>
            </div>
        </div>
    </div>


{% endblock %}
