{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Accreditations &mdash; {{ team_name }} </h1>
    <a href="{% url 'event_page' event.id %}">{{ event.name }}</a>
    {% if not formset %}
        <p>No registrations found for {{ team_name }}</p>
    {% else %}
        <ul class="list-inline">
            {% for key, value in stats.items %}
                <li class="list-inline-item"><span class="text-{% if key == 'Advanced' %}success{% else %}secondary{% endif %}">{{ key }}</span> &ndash; <span>{{ value }}</span></li>
            {% endfor %}
        </ul>
        <span class="text-muted"><small>* The roster information is updated from India Ultimate every 10 minutes or so. If you made a change to the roster on India Ultimate, please wait for 10 minutes for it to reflect here.</small></span>
        <form method="POST">
            {% crispy formset formset_helper %}
            {% if no_email_players %}
                <div class="alert alert-warning">
                    The app uses email addresses to identify users.

                    The following users need to set "Email address" and
                    "username" in their <a href="https://indiaultimate.org">India Ultimate</a> profile
                    <ul>
                        {% for player in no_email_players %}
                            <li>
                                {% if player.uc_username %}
                                    <a href="https://indiaultimate.org/u/{{ player.uc_username }}/edit">{{ player.name }}</a>
                                {% else %}
                                    {{ player.name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-actions">
                <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
            </div>
        </form>
    {% endif %}
{% endblock %}
