{% extends "tracker/base.html" %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <ul>
        {% for team_name, players in registrations_by_team.items %}
            <li>{% if team_name in admin_teams %}
                <a href="{% url 'accreditation_form' event.id team_name %}">{{ team_name }}</a>
            {% else %}
                {{ team_name }}
            {% endif %}
            <ol>
                {% for player, roles in players.items %}
                    <li>{{ player }} {% for role in roles %}({{role}}){% endfor %}</li>
                {% endfor %}
            </ol>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
