{% extends "tracker/base.html" %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <ul class="list-inline">
        <li class="list-inline-item badge badge-secondary">{{ registrations_by_team|length }} Teams</li>
        <li class="list-inline-item badge badge-secondary">{{ event.start }} &ndash; {{ event.end }}</li>
        <li class="list-inline-item badge"><a href="//indiaultimate.org/e/{{ event.slug }}/teams">🔗</a></li>
    </ul>
    {% include "tracker/partials/event-stats.html" %}
    <ul>
        {% for team_name, team_info in registrations_by_team.items %}
            <li>{% if team_name in admin_teams %}
                <a href="{% url 'accreditation_form' event.id team_name %}">{{ team_name }}</a>
            {% else %}
                {{ team_name }}
            {% endif %}
            <ul class="list-inline">
                {% for key, value in team_info.stats.items %}
                    <li class="list-inline-item"><span class="text-{% if key == 'Advanced' %}success{% else %}secondary{% endif %}">{{ key }}</span> &ndash; <span>{{ value }}</span></li>
                {% endfor %}
            </ul>
            <ol>
                {% for player_name, data in team_info.players.items %}
                    <li>{{ player_name }} {% for role in data.roles %}({{role}}){% endfor %}
                        <span class="badge badge-{% if data.accreditation == 'Advanced' %}success{% else %}secondary{% endif %}">{{ data.accreditation }}</span>
                    </li>
                {% endfor %}
            </ol>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
