<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Team Name</th>
            <th scope="col">Advanced</th>
            <th scope="col">Standard</th>
            <th scope="col">Players</th>
        </tr>
    </thead>
    <tbody>
        {% for team_name, team_info in registrations_by_team.items %}
            {% if team_name != "No team" %}
                <tr class="{% if not team_info.stats.complying %}bg bg-warning{% endif %}">
                    <th scope="row">
                        {% if team_name in admin_teams %}
                            <a href="{% url 'accreditation_form' event.id team_name %}">{{ team_name }}</a>
                        {% else %}
                            {{ team_name }}
                        {% endif %}
                    </th>
                    <td>{{ team_info.stats.Advanced }}</td>
                    <td>{{ team_info.stats.Standard }}</td>
                    <td>{{ team_info.stats.Players }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><td class="text-muted" colspan="4"><small>* Only teams rostered for this event on India Ultimate are displayed here. If a team is not displayed, ensure it has been rostered for the event.</small></td></tr>
        <tr><td class="text-muted" colspan="4"><small>* The statistics only include accreditations which are valid as-on-date. Expired accreditations are ignored.</small></td></tr>
    </tfoot>
</table>
